<form [formGroup]="observationForm"  >
  <mat-grid-list cols="4" rowHeight="5:1">
    <mat-grid-tile>
      <mat-form-field>
        <input class="td-search-box" matInput [matDatepicker]="picker" placeholder="Date of Observation" formControlName="effective" [(ngModel)]="observation.effectiveDateTime">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    <span *ngIf="observationDefinition.code !== ''">
        <mat-grid-tile>
          {{observationDefinition.display}}
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field >
            <input matInput type="number" placeholder="Value" min="10" formControlName="value" [(ngModel)]="observation.valueQuantity.value">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          {{observationDefinition.units}}
        </mat-grid-tile>
    </span>
  </mat-grid-list>
  {{observationDefinition.display}}
  <span *ngIf="observationDefinition.pickList !== undefined">
    <mat-radio-group class="example-radio-group">
      <mat-radio-button class="example-radio-button" *ngFor="let listCode of observationDefinition.pickList" [value]="listCode"
      [checked]="listCode.code == observation.code.coding[0].code" (change)="codeSelected($event)">
        {{listCode.display}}
      </mat-radio-button>
    </mat-radio-group>
  </span>
</form>


