<mat-grid-list cols="4" rowHeight="5:1">
  <mat-grid-tile>
  <mat-form-field>
  <input class="td-search-box" matInput [matDatepicker]="picker" placeholder="Date of Observation" [value]="observation.effectiveDateTime">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    {{observationDefinition.display}}
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field >
      <input matInput type="number" placeholder="Value" min="10" [value]="observation.valueQuantity.value">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>{{observationDefinition.units}}</mat-grid-tile>
</mat-grid-list>
